.description__head {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .description__head {
    font-size: 20px;
    line-height: 28px;
}

  .description {

  }

  .description__head {
    // text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
  }

  .description__text {
    font-size: 20px;
    // text-shadow: 1px 1px 1px rgba(0,0,0,1);
  }
}

@media (min-width: @desktop-width) {
  .description__head {
    font-size: 28px;
    line-height: 36px;
  }
}
