.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
}

.page-header__phone {
  display: flex;
  flex-direction: column;
}

.phone__link,
.email__link {
  color: @hov;
  text-decoration: none;
}

.page-header__logo {
  margin-left: 10px;
  line-height: 16px;
}

@media (max-width: @mobile-width-only) {
  .page-header {
    background-color: @st;
    color: #ffffff;
  }
  .page-header__phone,
  .page-header__email {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {

  }

  .page-header__adress {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-top: auto;
    padding: 10px 0 5px 0;
  }

  .page-header__logo {
    line-height: 20px;
    width: 300px;
    // outline: 1px solid red;
  }

  .page-header__phone {
    width: 300px;
    // outline: 1px solid red;
  }

  .page-header__email {
    width: 300px;
    // outline: 1px solid red;
  }

  .page-header__logo {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__adress {
    justify-content: space-between;

    padding: 20px 0 15px 0;
  }

  .adress__wrapper,
  .nav__wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    // outline: 1px solid red;
  }
}
