body {
  background-image: url("../img/fon_2_cor.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.page-main {
  padding: 0 10px;
}

.services,
.gallery,
.option,
.news {
  border-bottom: 1px solid @hov;
}

.services__head {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.services__item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 20px;
}

.services__item__link {
  border-bottom: 1px solid @hov;
}

.services__item a:hover {
  color: @hov;
}

.option__headline {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.option__description {
  padding-bottom: 10px;
}

.services__list,
.option_list {
  color: @hov;
}

.option_item {
  color: black;
}

.orange {
  color: @hov;
}

.locksmith-work {
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: 20px;
  }

  .services__item a {
    font-size: 18px;
    line-height: 28px;
  }
}
