.social__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: solid 3px @st;
  background-color: inherit;
}

.social__item:hover {
  border: solid 3px @hov;
}

.social__item:active {
  border: solid 3px @hov;
  opacity: 0.3;
}

.social__link {
  display: block;
  fill: @hov;
  opacity: 1;
}
